@import "variables";

// App header

.masthead.segment {
  min-height: 200px;
  padding: 1em 0;
}

.masthead .ui.huge {
  margin-top: 3em;
  margin-bottom: 0;
  line-height: 1.2em;
}

// Scrollbars

::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 11px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  width: 7px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-clip: padding-box;
  background-color: #666;
}

// Various classes

ng-messages {
  color: $red;
  display: block;
  position: relative;
  overflow: hidden;

  ng-message {
    display: block;
    margin: 0.5em 0;
  }
}

.massive-icon-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 136px;
  width: 112px;
  margin: -68px 0 0 -56px;
}

.exp-red {
  color: $red;
}