<table st-safe-src="$root.expenses" st-table="displayed" class="ui striped celled blue padded compact table">
    <thead>
        <tr class="center aligned">
            <th></th>
            <th st-sort="date" st-sort-default="true" st-skip-natural="true">Date</th>
            <th st-sort="type" st-skip-natural="true">Type</th>
            <th st-sort="amount" st-skip-natural="true">Amount</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="center aligned" ng-repeat="row in displayed">
            <td class="left aligned collapsing">
                <div ng-bind-html="row.recurrence | recurrence2icon"></div>
            </td>
            <td>
                <small>{{row.date | date}}</small>
            </td>
            <td ng-bind-html="row.type | type2icon"></td>

            <td ng-if="row.recurrence!=='payments'">
                <h4 class="ui header">
                    <div class="content">
                        {{row.amount | currency:currencySymbol}}
                    </div>
                </h4>
            </td>

            <td ng-if="row.recurrence==='payments'">
                <h4 class="ui header">
                    <div class="content">
                        {{row.amount | currency:currencySymbol}}
                        <sup class="ui mini circular gray label">{{row.currPaymentNum}}/{{row.paymentsNum}}</sup>
                        <div class="sub header">{{row.totalAmount | currency:currencySymbol}} total</div>
                    </div>
                </h4>
            </td>

            <td>
                <small>{{::row.description}}</small>
            </td>
            <td>
                <expense-actions></expense-actions>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="center aligned">
            <th></th>
            <th></th>
            <th></th>
            <th><h2 ng-class="{'exp-red': amountSum > 0}">{{amountSum | currency:currencySymbol}}</h2></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>