<form>
    <div class="ui form">
        {{form | json}}<br><br>
        <div class="field">
            <div id="exp-for-today" class="ui toggle checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <label>For Today</label>
            </div>
        </div>

        <div ng-show="!form.forToday">
            <h4 class="ui dividing header">Expense Date</h4>
            <div class="ui left icon input">
                <input id="exp-date" type="text" name="date" placeholder="Date" ng-model="form.date">
                <i class="calendar icon"></i>
            </div>
        </div>

        <h4 class="ui dividing header">Expense Details</h4>

        <div class="field">
            <label>Type</label>
            <dropdown label="'Type'" values="types"></dropdown>
        </div>

        <div class="field">
            <label>Amount</label>
            <input type="number" name="amount" placeholder="Amount" ng-model="form.amount">
        </div>

    </div>
</form>