<form name="expenseForm" novalidate>
    <div class="ui form">

        <div class="two fields">
            <div class="field required">
                <label>Amount</label>
                <input type="text" name="amount" placeholder="Amount" ng-model="form.amount" required fcsa-number>
            </div>

            <div class="field required nga-fast nga-rotate-down" ng-if="isPaymentsMode()">
                <label>Number of payments</label>
                <input type="number" name="paymentsNum" placeholder="Number of payments" ng-model="form.paymentsNum" required>
            </div>
        </div>

        <div class="two fields">
            <div class="field required">
                <label>Type</label>
                <dropdown label="'Type'" values="types" model="form.type"></dropdown>
            </div>

            <div class="field">
                <label>Description</label>
                <input type="text" name="desc" placeholder="Description" ng-model="form.desc">
            </div>
        </div>

        <h4 class="ui dividing header">Date & Recurrence</h4>

        <div class="two fields">
            <div class="field">
                <label>Date</label>
                <div class="ui left icon input">
                    <input id="exp-date" type="text" name="date" placeholder="Date" ng-model="form.date" readonly required>
                    <i class="calendar icon"></i>
                </div>
            </div>
        </div>

        <div class="grouped fields">
            <label>Recurrence</label><br>
            <div class="field" ng-repeat="recur in ::recurrenceTypes">
                <div class="ui radio checkbox">
                    <input id="exp-{{::recur.id}}" type="radio" name="recurrence" tabindex="0" class="hidden"
                           value="{{::recur.id}}" ng-checked="$first" ng-model="form.recurrence">
                    <label for="exp-{{::recur.id}}">{{::recur.label}}</label>
                </div>
            </div>
        </div>

        <div class="ui dimmer inverted" ng-class="{'active': isAdding}">
            <div class="ui text big loader">Crunching numbers...</div>
        </div>

    </div>
</form>